body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

#logo {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 500px;
    background-color: white;
}

nav {
    background-color: rgb(200, 200, 200);   
    padding: 0.5rem;
    border: 1px solid gray;
    border-bottom: none;
    
}

nav > a {
    text-decoration: none;
    color: black;
    margin: 100px;
    
    font-weight: bold; 
}

nav > a:hover {
    color: black;
    background-color:rgb(78,202,245);
    padding-top:8px;
    padding-bottom: 8px;

}

header {
    background:white;
    padding: 10px;
}


.active {
    background-color:rgb(78,202,245);
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

}


   
footer {
    background-color: black;
    color: white;
}