body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(243, 243, 243);
}

/* LOGO AND NAV BAR */

#logo {
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px;  
    margin-left: 500px; 
    background-color: white;
}



nav {
    background-color: rgb(200, 200, 200);   
    padding: 0.8rem;
    border: 1px solid gray;
    border-bottom: none; 
    width: 100%; 
    display: flex;
    justify-content: space-evenly; 
    font-size: 18px; 
    box-sizing: border-box;
}

nav > a {
    text-decoration: none;
    color: black;
    margin: 1px;
    font-weight: bold; 
    

}

nav > a:hover {
    color: black;
    background-color:rgb(78,202,245);
    padding-left: 5px ;
    padding-right: 5px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(78, 202, 245);
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration:none ;
    text-align: center;
    line-height: 50px;
    color: white;
}



header {
    background:white;
    padding: 10px;
}


.active {
    background-color:rgb(78,202,245);
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(75, 74, 74);
}

/* BACKGROUND IMAGE */
#call {
	padding: 1rem 0;
    background-image: url('https://www.aktacleaningdublin.com/uploads/JSeO4lw4/767x0_2560x0/23459150-close-up-image-of-.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    padding-top: 150px;
}

/* TEXT OVERLAY BOX AND CALL BUTTON */

.text-white {
    color: white;
}

.text-box{
    color: white;
    margin-left: 45px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    text-align: left;
}

.call-box {
    background-color: rgba(78, 202, 245, .6);
    width : 100%;
    height: 100px;
    left: 0px;
    margin-top: 110px;
}

.button {
    float: right;
    margin-right: 50px;
    text-decoration: none;
    border: 3px solid white;
    background-color: rgb(78, 202, 245);
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px;
    margin-top:30px; 
    color: white;
}

/* TEXT UNDER IMAGE */

.main {
    color:black;
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 18px;
    margin-bottom: 50px;
   
}

h1 {
    color:black;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}



h3 {
    color:rgb(78, 202, 245);
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(163, 163, 163) ;
    width: 75%;
    margin-left: 160px;
    
    
}

#review {
    color:black;
    text-align:center;

}

.text {
    color:rgb(78, 202, 245);
}

 .one {
    vertical-align: top;
    display: inline-block;
    width:20%;
    padding-right: 20px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 50px;
}

.two {
    vertical-align: top;
    display: inline-block;
    width:20%;
    padding-right: 20px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 50px;

}

.three {
    vertical-align: top;
    display: inline-block;
    width:20%;
    padding-right: 20px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 50px;
}



h2 {
    color:rgb(78, 202, 245);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}





 /* screensizes tablet and mobile
@media screen and (max-width:) {
    
} */



/* PRODUCTS PAGE */



/*IMAGES TEXT*/

.imgmaintxt {
    display : flex;
    justify-content: space-evenly;
}

.imgtext1 {
    
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
   
   
}
.imgtext2{
    
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
   
} 
.imgtext3 {
   
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    
}
.imgtext4 {
    
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    
}

.imgmaintxt2 {
    display : flex;
    justify-content: space-evenly;
}


.imgtext5 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
   

.imgtext6 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;    
}

.imgtext7 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;    
}


 /* PRODUCT IMAGES */

 .productsimg {
    display : flex;
    justify-content: space-evenly;
    
 }


/* CONTACT BOX ACROSS PAGE */
.info {
    background-color:rgb(200, 200, 200);
    width : 100%;
    height: 100px;
    left: 0px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-bottom: 6px solid rgb(78, 202, 245);
    border-top: 2px solid rgb(78, 202, 245);
}

.info-text-box1 {
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: 800;
    font-size: 25px;
    padding-top: 5px;
}

.btnproduct {
    float: right;
    margin-right: 150px;
    text-decoration: none;
    border: 3px solid white;
    background-color: rgb(78, 202, 245);
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px;
    margin-top:30px;
    color: white;

}

/* ABOUT US*/

.aboutush1 {
    color: rgb(78, 202, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 50px;
} 

.man1 {
    display : flex;
    justify-content: space-around;
    
}

.ptext {
    display : flex;
    justify-content: space-around;
    
}

.salestext {
    text-align: center;
    text-transform: uppercase;
    color: rgb(78, 202, 245);
    font-size: 13px;   
}

.aboutush2 {
    color:rgb(78, 202, 245);
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-left: 45px;
}

/* CONTACT PAGE */


.contactpage {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
}

.contactp {
    text-align: center;
    font-family: lato;
    font-weight: 300;
    font-size: 19px;
    padding-bottom: 100px;
}



#map {
    height: 60vh;
    width: 100%;
    border: none; 
}



/*  footer */
.contact-boxes-container {
   
    display: flex;
    justify-content: space-evenly;
    
   }
   
    /* address */
   .contact-box-left {
       padding-top: 20px;
       font-size: 13px;
        
   }
   
   /* opening hours*/
   .contact-box-right {
       padding-top: 20px;
       font-size: 13px; 
       
       
   }
   
   /*phone*/
   .contact-box-center {
       padding-top: 20px;
       font-size: 13px;
       color: white;
   }
   
   .contact-box-center > a {
       text-decoration: none;
       color: rgb(78, 202, 245);
   }
   
   
   footer {
       background-color:gray;
       color: white;
       height: 130px;
       width: 100%;
        
   }
   
   .days {
      margin-right: 30px; 
       
   }

   table {
        text-align: right; 
   }

   